# Project exclude paths
/node/server.js
/node/server.js.map
/node/start.js
/node/start.js.map
/web/script/data/interfaces/identifiable.js
/web/script/data/interfaces/identifiable.js.map
/web/script/data/interfaces/notifiable.js
/web/script/data/interfaces/notifiable.js.map
/web/script/data/interfaces/view.js
/web/script/data/interfaces/view.js.map
/web/script/data/choice.js
/web/script/data/choice.js.map
/web/script/data/identifier.js
/web/script/data/identifier.js.map
/web/script/data/option.js
/web/script/data/option.js.map
/web/script/data/question.js
/web/script/data/question.js.map
/web/script/data/uuid.js
/web/script/data/uuid.js.map
/web/script/hubs/quiz-hub.js
/web/script/hubs/quiz-hub.js.map
/web/script/views/choice-view.js
/web/script/views/choice-view.js.map
/web/script/views/question-view.js
/web/script/views/question-view.js.map
/web/script/global-state.js
/web/script/global-state.js.map
/web/script/index.js
/web/script/index.js.map
/web/script/QuizView.js
/web/script/QuizView.js.map
/web/DOM.js
/web/DOM.js.map
/web/node_modules/
/node/node_modules/
